.contact {
  display: flex;
  margin-bottom: 24px;
}

.subblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 24px 10px 24px;
}

.contactblock {
  display: flex;
  gap: 16px;
}

.contactblock-value {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contactblock-value:not(:last-child)::after {
  content: '';
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 4px;
  background-color: black;
}
